<!-- views/login.handlebars -->
{{!-- Use the layout template --}}
{{#extend "layouts/main"}}
  {{#content "body"}}
    <h1>Login to Your Account</h1>
    <form action="/login" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Login</button>
    </form>
  {{/content}}
{{/extend}}
